# Copy this file to .env and add your Gemini API Key
GEMINI_API_KEY=[AQ.Ab8RN6LBbsWDVKsgQzvuuICxTN2Msjr9Ix0OqzLTdI1B6JJGJg]

# Database Connection URL (e.g. postgresql://user:password@host:port/dbname)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/banking
